@import url("./variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html .load-hidden {
  visibility: hidden;
}

body {
  height: 100vh;
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
  color: var(--font-pri);
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* From https://css.glass */
  background: rgba(25, 26, 26, 0.65);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(25, 26, 26, 0.3);
}

#logo {
  font-size: max(1.5rem, 1.5vw);
  font-weight: 700;
  text-decoration: none;
  color: var(--font-pri);
  cursor: pointer;
  display: flex;
  align-items: center;
}

#logo:hover {
  text-decoration: underline wavy;
  text-decoration-color: var(--font-pri);
}

header nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: var(--font-sec);
}

header nav ul li a:hover {
  color: var(--font-pri);
  text-decoration: underline wavy;
}

section {
  min-height: 100vh;
  width: 100%;
  /*   border: 1px solid red;
 */
  padding-top: 60px;
}

.header-section {
  /*   border: 1px dashed red;
 */
  text-align: center;
  font-size: max(1rem, 1.4vw);
}

.header-section-content {
  position: relative;
  display: inline;
}

.header-section-content::after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0px;
  height: 4px;
  width: 15px;
  background-color: var(--cli-green);
  animation: piscar 1.5s infinite step-end;
}

#btn-back-to-top {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 50px;
  position: fixed;
  bottom: -80px;
  right: 20px;
  background-color: var(--font-pri);
  cursor: pointer;
  opacity: 0;
  color: var(--sec);
  transition: 0.3s all;
}

#btn-back-to-top:hover {
  transform: translateY(-5px);
  color: #41ed6c;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.show-btn-back-to-top {
  bottom: 20px !important;
  opacity: 1 !important;
}

footer {
  padding: 40px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: max(1rem, 1vw);
  color: var(--font-sec);
}

@keyframes piscar {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    gap: 15px;
    padding-bottom: 10px;
    justify-content: center;
  }

  header {
    font-size: 0.8rem;
  }
}
